form {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-form-field {
    width: 320px;
  }

  button.login {
    padding: 24px 60px;
  }

  mat-spinner {
    position: absolute;
    text-align: center;
  }
}